<?xml version="1.0"?>
<config>
    <modules>
        <Maven_Groupbyproduct>
            <version>0.1.0</version>
        </Maven_Groupbyproduct>
    </modules>
	<admin>
		<routers>
			<groupbyproduct>
				<use>admin</use>
				<args>
					<module>Maven_Groupbyproduct</module>
					<frontName>groupbyproduct</frontName>
				</args>
			</groupbyproduct>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <groupbyproduct>
                                            <title>Group By Productw</title>
                                        </groupbyproduct>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
		</acl>
		<layout>
			<updates>
				<groupbyproduct>
					<file>groupbyproduct.xml</file>
				</groupbyproduct>
			</updates>
		</layout> 
	</adminhtml>
    <frontend>
        <routers>
			<groupbyproduct>
				<use>standard</use>
				<args>
					<module>Maven_Groupbyproduct</module>
					<frontName>groupbyproduct</frontName>
				</args>
			</groupbyproduct>
        </routers>
		<layout>
			<updates>
				<groupbyproduct>
					<file>groupbyproduct.xml</file>
				</groupbyproduct>
			</updates>
		</layout>
		<events>
			<catalog_product_collection_load_before>
				<observers>
					<groupbyproduct>
						<type>model</type>
						<class>Maven_Groupbyproduct_Model_Observer</class>
						<method>catalogProductCollectionLoadBefore</method>
					</groupbyproduct>
				</observers>
			</catalog_product_collection_load_before>
			<catalog_product_collection_load_after>
				<observers>
					<groupbyproduct>
						<type>model</type>
						<class>Maven_Groupbyproduct_Model_Observer</class>
						<method>catalogProductCollectionLoadAfter</method>
					</groupbyproduct>
				</observers>
			</catalog_product_collection_load_after>
		</events>
    </frontend>	
    <global>
		<blocks>
            <groupbyproduct>
                <class>Maven_Groupbyproduct_Block</class>
            </groupbyproduct>
        </blocks>
        <helpers>
            <groupbyproduct>
                <class>Maven_Groupbyproduct_Helper</class>
            </groupbyproduct>
        </helpers>
        <models>
        	<groupbyproduct>
                <class>Maven_Groupbyproduct_Model</class>
            </groupbyproduct>
        </models>
        <resources>
			<groupbyproduct_setup>
				<setup>
					<module>Maven_Groupbyproduct</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</groupbyproduct_setup>
			<groupbyproduct_write>
				<connection>
					<use>core_write</use>
				</connection>
			</groupbyproduct_write>
			<groupbyproduct_read>
				<connection>
					<use>core_read</use>
				</connection>
			</groupbyproduct_read>
		</resources>
    </global>
    <default>
		<groupbyproduct>
			<general>
				<main_group_attribute>product_group_code</main_group_attribute>
				<main_group_color>custom_color</main_group_color>
				<main_group_size>custom_size</main_group_size>
			</general>
		</groupbyproduct>
	</default>
</config>